// variables
$body-bg: 				#ffffff;
$main-font: 			'Arial';

$primary-color: 		#008080;
$secondary-color: 		#009a9a;
$light-color: 			#f4f4f4;
$dark-color: 			#333333;

// alt theme
// $primary-color: 		red;
// $secondary-color: 		black;
// $light-color: 			#555555;
// $dark-color: 			#4B1515;